<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application>
        <activity
            android:name="com.termux.x11.MainActivity"
            android:configChanges="fontScale|orientation|screenSize|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|touchscreen|uiMode|smallestScreenSize|density"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:parentActivityName="com.alpine.app.AlpineActivity"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.termux.x11.LoriePreferences"
            android:excludeFromRecents="true"
            android:exported="false"
            android:parentActivityName="com.termux.x11.MainActivity"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="false"
            android:theme="@style/Theme.AppCompat.DayNight" />

        <service
            android:name="com.termux.x11.utils.KeyInterceptor"
            android:exported="true"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
            android:name="com.termux.x11.LoriePreferences$Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.termux.x11.CHANGE_PREFERENCE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
